<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asistente_compras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asistente_Compras">
        <activity android:name=".CambiarContrasena"></activity>
        <activity android:name=".AniadirProducto" />
        <activity
            android:name=".mensajeEmergente"
            android:theme="@style/AppTheme.TemaMensaje" />
        <activity android:name=".ListaCompras" />
        <activity android:name=".VistaPrevia" />
        <activity android:name=".SeleccionarProducto" />
        <activity android:name=".RecordatorioCompras" />
        <activity android:name=".CrearUsuario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>